node_modules/
dist/
dist-ssr/
coverage/

.vite/
.cache/

.env
.env.*
!.env.example

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
